body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.calculator {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator h2 {
    margin: 0 0 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-size: 14px;
}

.input-container input[type="number"] {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.output-container {
    margin-bottom: 20px;
}

.output-container p {
    border: 2px solid #333;
    width: 100px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 16px;
}

.button-container {
    text-align: center;
}

.button-container button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #0056b3;
}
.bt1{
    display: flex;
    gap: 100px;
}

